/* Font Family */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}




h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Inter", sans-serif;
    margin: 0;
}

p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* Topbar CSS */

.topbar {
    background-color: #072044;
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;

}


.topbar-contact ul,
.topbar-social,
.topbar-social ul {
    display: flex;
}


.topbar-contact ul li,
.topbar-social ul li {
    padding-right: 16px;
}


.topbar-contact ul li a,
.topbar-social ul li a {
    color: #fff;

}


.topbar-contact ul li a:hover,
.topbar-social ul li a:hover {
    color: #2cabe1;

}

.topbar-contact ul li a span {
    padding-left: 6px;
}


.topbar-social ul {
    border-right: lpx solid #fff;

}

.topbar-btn a {
    background-color: #2cabe1;
    margin-left: 16px;
    padding: 6px 16px;
    color: #fff;
    border-radius: 6px;
}


.topbar-btn a:hover {
    background-color: #fff;
    color: #2cabe1;
}



/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #fff;
    box-shadow: 0px 0px 2px 2px;
}

nav ul {
    display: flex;
}


nav ul li a {
    padding-left: 20px;
    color: black;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;


}



nav ul li a:hover {
    color: #2cabe1;
}



/* Hero Section */

.hero {
    background-image: url(../Images/hero.jpg);
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero::before {
    content: '';
    position: relative;
    background-color: black;
    height: 100%;
    width: 100%;
    opacity: 0.5;
}

.hero-content {
    position: absolute;
    color: #fff;

}


.hero-content h2 {
    font-size: 35px;

}


.hero-content p {
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
}


.hero-btn-one {
    background-color: #2cabe1;
    margin-left: 16px;
    padding: 6px 16px;
    color: #fff;
    border-radius: 6px;

}


.hero-btn-one:hover {
    background-color: #fff;
    color: #2cabe1;
}

.hero-btn-two {
    background-color: transparent;
    margin-left: 16px;
    padding: 6px 16px;
    color: #fff;
    border-radius: 6px;
    border: 1px solid #fff;

}


.hero-btn-two:hover {
    background-color: #fff;
    color: #2cabe1;
}

/* About Us CSS */

.aboutus {
    padding: 40px 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 40px;

}

.about-content p,
.about-content h2 {
    margin-bottom: 20px;
}

.about-content a {
    background-color: #2cabe1;
    padding: 6px 16px;
    color: #fff;
    border-radius: 6px;
}

.about-content a:hover {
    background-color: #072044;
}

/* Course CSS */

.our-courses {
    background-color: #e8e8e8;
    padding: 40px 80px;
}

.our-courses h2 {
    text-align: center;
}

.our-courses p {
    width: 100%;
    max-width: 100%;
    text-align: center;
    margin: 20px auto;
}



.all-courses {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px 40px;

}




.course-card {
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0px 0px 2px 2px #d2d2d2;
}



.course-content h4 {
    padding-top: 10px;
}


.course-content p {
    width: 100%;
    max-width: 100%;
    text-align: left;
    margin: 10px 0;
}


.course-btn {
    border-top: 1px solid #d2d2d2;
}


.course-btn a {
    float: right;
    background-color: #2cabe1;
    padding: 6px 16px;
    color: #fff;
    border-radius: 6px;
    margin-top: 10px;
}


.course-btn a:hover {
    background-color: #072044;
}

/* Why Should Choose Us */

.digit-stats {
    padding: 40px 80px;

}

.digit-stats h2 {
    text-align: center;
    margin-bottom: 20px;
}

.counter-up {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px 40px;
}


.item {
    background-color: #2cabe1;
    padding: 20px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
}


.stats-icon {
    font-size: 28px;
}


.item h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

/* Enroll Form */



.enroll-now {

    background-color: #e8e8e8;

    padding: 40px 0;

}



.enroll-now h2 {

    text-align: center;

    margin-bottom: 20px;

}



.enroll-now form {

    background-color: #fff;

    width: 100%;

    max-width: 400px;

    margin: 0 auto;

    padding: 30px;

    border-radius: 10px;

    box-shadow: 0px 0px 2px 2px #d2d2d2;

}



.form-group {

    display: flex;

    flex-direction: column;

    margin-bottom: 20px;

}



.form-group input,
.form-group select {

    height: 30px;

    padding-left: 10px;
    width: 100%;
    box-sizing: border-box;

}



.form-group label {

    font-size: 14px;

    padding-bottom: 6px;

}



.enroll-now button {

    background-color: #2cabe1;

    padding: 6px 16px;

    color: #fff;

    border-radius: 6px;

    border: none;

}



.enroll-now button:hover {

    background-color: #072044;

}

.error {
    color: red;
    font-size: 10px;
}

/* API Calling */

.apicalling {
    padding: 40px 80px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

/* Footer CSS */


footer {
    background-color: #072044;
    padding: 40px 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px 40px;
}


.footer-contact ul li {
    padding-top: 20px;
}

.footer-contact ul li a {
    display: flex;
    color: #fff;
}


.footer-contact ul li a:hover {
    color: #2cabe1;

}


.footer-contact ul li a span {
    padding-right: 10px;
}

.footer-contact h4 {
    color: #2cabe1;
    padding-top: 20px;
}

.useful-links h4,
.subscribe h4 {
    color: #fff;
    padding-bottom: 20px;
}

.useful-links ul li {
    padding-bottom: 16px;
}

.useful-links ul li a {
    color: #fff;
}

.useful-links ul li a:hover {
    color: #2cabe1;
    padding-left: 10px;
}

.useful-links ul li a span {
    padding-right: 10px;
}

.subscribe p {
    color: #fff;
    font-size: 14px;
    padding-bottom: 20px;
}

.subscribe form {
    background-color: #fff;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}

.subscribe form input {
    border: none;
}


.subscribe form button {
    background-color: #2cabe1;
    padding: 6px 16px;
    border-radius: 6px;
    color: #fff;
    border: none;

}

.subscribe ul {
    display: flex;
}

.subscribe ul li {
    background-color: #225499;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.subscribe ul li a {
    color: #fff;
    font-size: 20px;
}


.subscribe ul li a:hover {
    color: #2cabe1;
}

/*Copyright Section */

.copyright {
    background-color: #225499;
    color: white;
    text-align: center;
    padding: 16px 0;
}

/* floating Whatsapp */

.Floating-whatsapp {
    background-color: #25D366;
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;


}


.Floating-whatsapp a {
    color: #fff;
    font-size: 28px;
}